extends ../base.pug 

block variables
  - var template = "models"

block content 
  main.models
    .models__wrapper 

    section.models__intro 
      .models__intro__wrapper 
        h5.models__inro__heading Our Models
        .models__intro__body 
          .models__intro__text
            | With a focus on retro and vintage looks, Crane have talented models who can bring a sense of nostalgia and authenticity to their photoshoots and runway shows.
          .models__intro__displays 
            p.models__intro__display.active List
            p.models__intro__display Grid
            p.models__intro__display Editorial

            
      section.models__about.list
        .models__about__bios 
          a.models__about__bio(href="models/ayoola")
            figure.models__about__media
              img(src=preloadables.models.ayoola[0], alt="", srcset="")
            h4.models__about__name Ayoola
            p.models__about__country NG
          a.models__about__bio(href="models/olacodes") 
            figure.models__about__media
              img(src=preloadables.models.olacodes[0], alt="", srcset="")
            h4.models__about__name Olacodes
            p.models__about__country NG
          a.models__about__bio(href="models/davidella") 
            figure.models__about__media
              img(src=preloadables.models.davidella[0], alt="", srcset="")
            h4.models__about__name Davidella
            p.models__about__country US
          a.models__about__bio(href="models/stephine") 
            figure.models__about__media
              img(src=preloadables.models.stephine[0], alt="", srcset="")
            h4.models__about__name Stephine
            p.models__about__country JP
          a.models__about__bio(href="models/gwen") 
            figure.models__about__media
              img(src=preloadables.models.gwen[0], alt="", srcset="")
            h4.models__about__name Gwen
            p.models__about__country SA
          a.models__about__bio(href="models/david") 
            figure.models__about__media
              img(src=preloadables.models.david[0], alt="", srcset="")
            h4.models__about__name David
            p.models__about__country NPR
          a.models__about__bio(href="models/chisom") 
            figure.models__about__media
              img(src=preloadables.models.chisom[0], alt="", srcset="")
            h4.models__about__name Chisom
            p.models__about__country CA
          a.models__about__bio(href="models/juane") 
            figure.models__about__media
              img(src=preloadables.models.juane[0], alt="", srcset="")
            h4.models__about__name Juane
            p.models__about__country NPR

    include ../partials/footer
    
